@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.woff') format('woff'),
         url('Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }